<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <settings>
        <!-- 驼峰命名自动映射 my_age 映射为 myAge -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 自动生成主键 -->
<!--        <setting name="useGeneratedKeys" value="true"/>-->
    </settings>

    <typeAliases>
        <!-- 设置类型别名 -->
<!--        <typeAlias alias="Skill" type="com.prger.bean.Skill"/>-->
<!--        <typeAlias alias="Experience" type="com.prger.bean.Experience"/>-->
        <typeAlias alias="druid" type="com.prger.common.DruidDataSourceFactory"/>
<!-- 将指定路径下的类型设置成别名，-->
        <package name="com.prger.bean"/>
    </typeAliases>
    
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    
    <environments default="development">
        <!-- 开发阶段 -->
        <environment id="development">
            <!-- 采用JDBC的事务管理方法 -->
            <transactionManager type="JDBC"/>
            <!-- POOLED表示采用连接池的方式管理连接 -->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/test_mybatis?useSSL=false"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="123456"/>-->
<!--            </dataSource>-->

            <dataSource type="druid">
                <property name="driverClass" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test_mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="10"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 添加实体映射文件的路径 -->
        <mapper resource="mappers/skill.xml"/>
        <mapper resource="mappers/experience.xml" />
        <mapper resource="mappers/person.xml"/>
        <mapper resource="mappers/idCard.xml"/>
        <mapper resource="mappers/bankCard.xml"/>
        <mapper resource="mappers/job.xml"/>
    </mappers>
</configuration>