<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 加载druid配置文件-->
    <properties resource="druid.properties"/>

    <settings>
        <!-- 驼峰命名自动映射 my_age 映射为 myAge -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 延迟加载全局开关，设置为true时，表示所有关联对象都会延迟加载，在mapper中可以设置fetchType来覆盖全局开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <!-- 设置类型别名 -->
        <typeAlias alias="DRUID" type="com.prger.common.DruidDataSourceFactory"/>
        <!-- 将指定路径下的类型设置成别名，-->
        <package name="com.prger.bean"/>
    </typeAliases>
    
    <environments default="development">
        <!-- 开发阶段 -->
        <environment id="development">
            <!-- 采用JDBC的事务管理方法 -->
            <transactionManager type="JDBC"/>

            <dataSource type="DRUID">
                <property name="driverClass" value="${dev.driverClass}"/>
                <property name="url" value="${dev.url}"/>
                <property name="username" value="${dev.username}"/>
                <property name="password" value="${dev.password}"/>
                <property name="initialSize" value="${dev.initialSize}"/>
                <property name="maxActive" value="${dev.maxActive}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 添加实体映射文件的路径 -->
        <mapper resource="mappers/person.xml"/>
        <mapper resource="mappers/idCard.xml"/>
        <mapper resource="mappers/bankCard.xml"/>
        <mapper resource="mappers/job.xml"/>
    </mappers>
</configuration>