<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="logAdvice" class="com.prger.aop.LogAdvice"/>
    <bean id="logInterceptor" class="com.prger.aop.LogInterceptor"/>

    <bean id="personService" class="com.prger.service.impl.PersonServiceImpl"/>
    <bean id="userService" class="com.prger.service.impl.UserServiceImpl"/>
    <bean id="skillService" class="com.prger.service.SkillService"/>

<!--    <aop:config>-->
<!--        &lt;!&ndash; execution(* *(..)) 表示所有类的所有方法 &ndash;&gt;-->
<!--        <aop:pointcut id="pc" expression="execution(* *(..))"/>-->
<!--        &lt;!&ndash; 附加代码 &ndash;&gt;-->
<!--        <aop:advisor advice-ref="logInterceptor" pointcut-ref="pc"/>-->
<!--    </aop:config>-->

    <!-- 配置多个pointcut、advisor -->
    <aop:config>
        <aop:pointcut id="pc1" expression="execution(* com.prger.service.UserService.*(..))"/>
        <aop:pointcut id="pc2" expression="execution(* com.prger.service.PersonService.*(..))"/>

        <aop:advisor advice-ref="logAdvice" pointcut-ref="pc1"/>
        <aop:advisor advice-ref="logInterceptor" pointcut-ref="pc2"/>
    </aop:config>

</beans>